fastapi
uvicorn
sqlalchemy
aiosqlite
pydantic
pydantic-settings
python-jose[cryptography]
passlib
bcrypt==4.0.1
line-bot-sdk
httpx
apscheduler
python-multipart
Pillow
google-genai
psycopg2-binary
asyncpg
cloudinary